<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>
    <style>
        body {
            height: 100%;
            width: 100%;
            display: grid;
            place-items: center;
        }

        .container {
            margin-top: 3rem;
        }
        .form-container {
            display: flex;
            flex-direction: column;
            gap: 7px;
        }
        .form-container input, button {
            padding: 8px 12px;
        }
        .form-container input {
            border: 1px solid #ccc;
        }
        .form-container button {
            border: 0;
            background: #077cc1;
            color: #fff;
            cursor: pointer;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1><%= name %></h1>
    <div class="container">
        <h2>Register</h2>
        <form action="/register" method="post">
            <div class="form-container">
                <input type="text" name="email" placeholder="email">
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="confirm_password" placeholder="Confirm password">
                <button>Register</button>
            </div>
        </form>
    </div>
</body>
</html>